<html>
<head>
{{>header}}
</head>

<body>
<body>
{{>navbar}}
<div style="text-align: center;" class="container">
<h1>Admin Panel</h1>
<p>Hello this is the admin panel</p>

<h2>Sub Sections</h2>

<a class="btn btn-primary" href="/adminPanelUser">USERS</a>
<a class="btn btn-primary" href="/adminPanelAdmin">ADMINS</a>
<a class="btn btn-primary" href="/adminPanelPosts">POSTS</a>
<a class="btn btn-primary" href="/adminPanelPantry">PANTRY</a>
<a class="btn btn-primary" href="/adminPanelMessages">MESSAGES</a>
</div>



{{>footer}}

</body>
</html>