<html>
<head>
{{>header}}
</head>

<body>
<body>
{{>navbar}}
<h1>admin Panel</h1>
<p>Hello this is the admin panel</p>

<h2>Posts</h2>

{{^entries}}
<b>No entries yet.</b>
{{/entries}}

<table style="width:100%">
  <tr>
    <th>foodtitle</th>
    <th>foodexp</th>
    <th>published</th>
    <th>fooddesc</th>
    <th>user</th>
    <th>userid</th>

    <th>DELETE</th>

  </tr>
  {{#entries}}
  <tr>
    <td>{{foodtitle}}</td>
    <td>{{foodexp}}</td>
    <td>{{published}}</td>
    <td>{{fooddesc}}</td>
    <td>{{user}}</td>
    <td><a href="/posts/{{userid}}">{{userid}}<a></td>

    <td><a class="btn btn-danger" href="/deletePost/{{_id}}">DELETE</a></td>
    
  </tr>
{{/entries}}
</table>


</section>

{{>footer}}

</body>
</html>