<html>
<head>
{{>header}}
</head>

<body>
<body>
{{>navbar}}
<h1>admin Panel</h1>
<p>Hello this is the admin panel</p>

<h2>Pantry</h2>

{{^entries}}
<b>No entries yet.</b>
{{/entries}}

<table style="width:100%">
  <tr>
    <th>PantryID</th>
    <th>pantryTitle</th>
    <th>pantryDescription</th>
    <th>pantryAddress</th>
    <th>EDIT</th>
    <th>DELETE</th>
    
  </tr>
  {{#entries}}
  <tr>
    <td>{{_id}}</td>
    <td>{{pantryTitle}}</td>
    <td>{{pantryDescription}}</td>
    <td>{{pantryAddress}}</td>
    <td><a class="btn btn-warning" href="/getPantryDetails/{{_id}}">EDIT</a></td>
    <td><a class="btn btn-danger" href="/deletePantry/{{_id}}">DELETE</a></td>
    
  </tr>
{{/entries}}
</table>


<hr>
<section id="edit_thing">
<div class="container">
<h1>Edit Pantry</h1>
<form method="post" action="/editPantry" role="/editPantry">
    <div class="form-group">
        
        <label for="PantryID">PantryID to change details for</label>
        <input type="text" value="{{pantIDvalue}}" class="form-control" id="PantryID" name="PantryID" placeholder="Enter PantryID" required>
    </div>
    <div class="form-group">
       
        <label for="pantryTitle">Pantry Title</label>
        <input type="text" value="{{pantTitleValue}}" class="form-control" id="pantryTitle" name="pantryTitle" placeholder="Enter pantryTitle" required maxlength="100">
    </div>
    <div class="form-group">
       
        <label for="pantryDescription">Pantry Description</label>
        <input type="text" value="{{pantDescValue}}" class="form-control" id="pantryDescription" name="pantryDescription" placeholder="Enter pantryDescription" required maxlength="100">
    </div>
    <div class="form-group">
        <label for="pantryAddress">Pantry Address</label>
        <input type="text" value="{{pantAddressValue}}" class="form-control" id="pantryAddress" name="pantryAddress" placeholder="Enter pantryAddress" required maxlength="200">
    </div>
       
    <br>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary">
    </div>
</form>


<a class="btn btn-primary" href="/addNewPantry">Add a new pantry</a >
</div>
</section>




{{>footer}}

</body>
</html>