<html>
<head>
{{>header}}
</head>
<body>
<body>
{{>navbar}}
<h1>{{title}}</h1>
<div class="container">
<h1 style="text-align: center;">About Us</h1>

<div class="container">

<img style="display: block;
  margin-left: auto;
  margin-right: auto;" src="images/logo.png" 
  alt="logo" width="50%" height="50%">


<div>
<p>

<br>
<br>
Our vison is to create a sustainable network of pantries providing low-cost food and wrap around services. The pantry is a dignified approach empowering communities to help themselves. The Pantry will support upskilling the community through volunteering and employability opportunities, with the shop itself being utilised as a training facility.
<br>
<br>
The Scottish Pantry Network will support the pantries by being the collective voice for change, we forge strong partnerships to support the development of the hub model, creating a tailored experience for local communities.  The Network will provide ongoing support to the pantries through compliance, lobbying and creating links with food suppliers.


</div>












</p>



</body>
</html>