<html>
<head>
{{>header}}
</head>

<body>
<body>
{{>navbar}}
<h1>admin Panel</h1>
<p>Hello this is the admin panel</p>

<h2>Users</h2>




<section id="edit_thing">
<h1>Edit User</h1>


</section>



</body>
</html>