<html>
<head>
{{>header}}
</head>

<body>
<body>
{{>navbar}}
<h1>admin Panel</h1>
<p>Hello this is the admin panel</p>

<h2>Users</h2>

{{^entries}}
<b>No entries yet.</b>
{{/entries}}

<table style="width:100%">
  <tr>
    <th>UserId</th>
    <th>FirstName</th>
    <th>SecondName</th>
    <th>Email</th>
    <th>ispantry</th>
    <th>pantryID</th>
    <th>EDIT</th>
    <th>DELETE</th>
    
  </tr>
  {{#entries}}
  <tr>
    <td><a href="/posts/{{_id}}">{{_id}}<a></td>
    <td>{{fname}}</td>
    <td>{{sname}}</td>
    <td>{{email}}</td>
    <td>{{ispantry}}</td>
    <td>{{pantryid}}</td>
    <td><a href="#edit_thing">EDIT</a></td>
    <td><a href="/deleteUser/{{_id}}">DELETE</a></td>
    
  </tr>
{{/entries}}
</table>


<hr>
<section id="edit_thing">
<div class="container">
<h1>Edit User</h1>
<form method="post" action="/editUser" role="/editUser">
    <div class="form-group">
        {{user-name-error}}
        <label for="UserId">UserId to change details for</label>
        <input type="text" class="form-control" id="UserId" name="UserId" placeholder="Enter UserId address" required>
    </div>
    <div class="form-group">
       
        <label for="forename">FirstName</label>
        <input type="text" class="form-control" id="forename" name="forename" placeholder="Enter forename" required maxlength="100">
    </div>
    <div class="form-group">
       
        <label for="surname">SecondName</label>
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname" required maxlength="100">
    </div>
    <div class="form-group">
        <label for="emailaddress">Email</label>
        <input type="email" class="form-control" id="emailaddress" name="emailaddress" placeholder="Enter email address" required maxlength="200">
    </div>
       <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter password" required minlength="8" maxlength="100">
    </div>
    <div class="form-group">
        <label id="ispantry" for="ispantry">user is pantry:</label>
    
    <select id="ispantry" name="ispantry">
    <option value=false>No</option>
    <option value=true>Yes</option>
    </select>

    </div>
       <div class="form-group">
        <label for="pantryID">Pantry ID</label>
        <input type="text" class="form-control" id="pantryID" name="pantryID" placeholder="Enter Pantry ID">
        
    </div>

    

    

    <br>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary">
    </div>
</form>
</div>
</section>



</body>
</html>