<html>
<head>
{{>header}}
</head>

<body>
<body>
{{>navbar}}
<h1>admin Panel</h1>
<p>Hello this is the admin panel</p>

<h2>Sub Sections</h2>

<a href="/adminPanelUser">USERS</a>
<a href="/adminPanelAdmin">ADMINS</a>
<a href="/adminPanelPosts">POSTS</a>
<a href="/adminPanelPantry">PANTRY</a>
<a href="/adminPanelMessages">MESSAGES</a>






</body>
</html>