<html>
<head>
{{>header}}
</head>
<body>
<body>
{{>navbar}}
<div class="container">
<h1>{{title}}</h1>

{{#user}}
<div class="text-right">
<a href="/new" class="btn btn-primary">
Write in the foodpantry
</a>
</div>
{{/user}}

{{#pantry}}
<br>
<div class="text-right">
<a href="/viewOwnPantry" class="btn btn-primary">
View own pantry
</a>
</div>
{{/pantry}}


{{#entries}}

<div class="row">
    <div class="col-md-6">
        <h4>{{foodtitle}}</h4>
        <b>Description:</b>
        <p>
        {{fooddesc}}
        </p>
        <b>Food expires:</b>
        <p>
        {{foodexp}}
        </p>
        <div class="card-footer">
        <p>Written by <a href="/posts/{{userid}}">{{user}}</a>, on {{published}}</p>

        <p>Selected Pantry <a href="/pantries/{{currentPantryid}}">{{currentPantryName}}</a></p>
        </div>

        
        
        <div>
        {{#pantry}}
        <a class="btn btn-primary" href="changePantry/{{_id}}">Add to pantry</a >
        {{/pantry}}
        </div>
    </div>
    <div class="col-md-6">
    <img style="display: block;
        margin-left: auto;
        margin-right: auto;" src="{{foodimg}}"
        alt="Image of Item" width="75%" >
    </div>
</div>



<hr>
{{/entries}}
{{^entries}}
No entries yet.
{{/entries}}
</div>
</body>
</html>