<html>
<head>
{{>header}}
</head>
<body>
<body>
{{>navbar}}
<h1>{{title}}</h1>

<div class="text-right">
<a href="/new" class="btn btn-primary">
Write in the foodpantry
</a>
</div>


{{#entries}}
<div>
<h4>{{foodtitle}}</h4>
<b>Description:</b>
<p>
{{fooddesc}}
</p>
<b>Food expires:</b>
<p>
{{foodexp}}
</p>
<div class="card-footer">
<p>Written by <a href="/posts/{{userid}}">{{user}}</a>, on {{published}}</p>
</div>

</div>
<hr>
{{/entries}}
{{^entries}}
No entries yet.
{{/entries}}
</body>
</html>