<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo" width="50" height="10%"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha1/js/bootstrap.min.js"></script>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      {{#user}}
      {{^admin}}
      <li class="nav-item">
        <a class="nav-link" href="/loggedin">View items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Provide</a>
      </li>
      {{/admin}}
      <li class="nav-item">
        <a id="logout" class="nav-link" href="/logout">Sign out</a>
      </li>
      {{/user}}
      {{#admin}}
      <li class="nav-item">
        <a class="nav-link" href="/admin">View Panel</a>
      </li>
      {{/admin}}
      {{^user}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {{/user}}
    </ul>
  </div>
</nav>
