

body{

    font-family: "Lato", sans-serif;

}

h1{

    font-family: "Anton", sans-serif;
    color: #3A5F5E;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      
}

h2{

    font-family: "Anton", sans-serif;
    color: #3A5F5E;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      
}



 .btn-primary {
    
	--bs-btn-color: #fff;
	--bs-btn-bg: #3A5F5E;
	--bs-btn-border-color: #3A5F5E;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #68ACB0;
	--bs-btn-hover-border-color: #68ACB0;
	--bs-btn-focus-shadow-rgb: 49,132,253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #68ACB0;
	--bs-btn-active-border-color: #68ACB0;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #3A5F5E;
	--bs-btn-disabled-border-color: #3A5F5E;
}